@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --Neutral-Dark-Grayish-CyanS: hsl(184, 14%, 56%);
  --Neutral-Dark-Grayish-Cyan: hsl(186, 14%, 43%);
  --Neutral-Very-Dark-Cyan: hsl(183, 100%, 15%);
  --Primary-Strong-Cyan: hsl(172, 67%, 45%);
  --Hover-Cyan : 	hsl(173, 61%, 77%);
  --Neutral-Light-Grayish-Cyan: hsl(185, 41%, 84%);
  --Neutral-Light-Grayish-CyanS: hsl(189, 41%, 97%);
  --Neutral-White: hsl(0, 0%, 100%);

  --Alert-Red: 	hsl(0, 100%, 60%)
}

*, *::before, ::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: var(--Neutral-Light-Grayish-Cyan);
  display: flex;
  flex-direction: column;
  font-family:'Space Mono', monospace;
  font-size: .8em;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 390px;
}

.Container-calculator {
  background-color: var(--Neutral-White);
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
}

.Section-form-show {
  background-color: var(--Neutral-Very-Dark-Cyan);
  border-radius: 10px;
  margin-top: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Container-title {
  width: 100%;
  flex-direction: row;
  padding: 2em;
}

.Title {
  color: var(--Neutral-Very-Dark-Cyan);
  letter-spacing: 10px;
  text-transform: uppercase;
}

.Block-1, 
.Block-2, 
.Block-3 {
  margin-bottom: 1.5em;
}

.Subtitle {
  color: var(--Neutral-Dark-Grayish-Cyan);
  font-size: .8em;
  padding-bottom: 1em;
}

.Input-user,
.Btn-tip,
.Input-custom,
.Btn-reset {
  font-size: 1.2em;
  font-family:'Space Mono', monospace;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: .5rem;
  color: var(--Neutral-Very-Dark-Cyan);
}

.Alert-visible {
  color: var(--Alert-Red);
  font-family:'Space Mono', monospace;
  font-size: .8em;
  margin: 0;
  text-align: right;
  visibility: visible;
}

.Alert-hidden {
  visibility: hidden;
  margin: 0;
}

::placeholder {
  color: var(--Neutral-Dark-Grayish-CyanS);
}

.DollarSign {
  position: relative;
}

.DollarSign::before {
  background: url("images/icon-dollar.svg") no-repeat;
  bottom: 0;
  content: "";
  left: 18px;
  position: absolute;
  top: 3px;
  width: 20px;
}

.Input-user {
  background-color: var(--Neutral-Light-Grayish-CyanS);
  color: var(--Neutral-Very-Dark-Cyan);
  text-align: right;
  width: 100%;
}

.Input-custom {
  background-color: var(--Neutral-Light-Grayish-CyanS);
  border: 0;
  color: var(--Neutral-Very-Dark);
  text-align: right;
}

.Wrapper-tip {
  display: grid;
  grid-template-columns: repeat( 2, 2fr);
  justify-items: end;
}

.Input-radio {
  display: none;
}

.Input-radio:checked + .Btn-tip {
  background-color: var(--Primary-Strong-Cyan);
}

.Btn-tip,
.Input-custom {
  margin: 0 1rem 1rem 0;
  width: 156px;
}

.Btn-tip {
  background-color: var(--Neutral-Very-Dark-Cyan);
  color: var(--Neutral-White);
  font-family:'Space Mono', monospace;
  text-align: center;
  transition: 0.2s;
}

.Grid-2,
.Grid-4,
.Grid-6 {
  margin-right: 0;
}

.UserIcon {
  position: relative;
}

.UserIcon::before {
  background: url("images/icon-person.svg") no-repeat;
  bottom: 0;
  content: "";
  left: 18px;
  position: absolute;
  top: 3px;
  width: 20px;
}

.Row-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
}

.Subtitle_totals {
  color: var(--Neutral-White);
  font-size: .8em;
}

.P-description {
  color: var(--Neutral-Dark-Grayish-CyanS);
  margin-top: 0;
  font-size: .8em;
}

.Span-total-tip,
.Span-total {
  color: var(--Primary-Strong-Cyan);
  font-weight: 700;
  font-size: 2.2em;
}

.container-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Btn-reset {
  background-color: var(--Primary-Strong-Cyan);
  border: 0;
  color: var(--Neutral-Very-Dark-Cyan);
  padding: .8rem;
  text-transform: uppercase;
  transition: 0.2s;
  width: 282px;
}

.Input-user:focus,
.Input-user:hover,
.Input-custom:focus, 
.Input-custom:hover {
  border: solid var(--Primary-Strong-Cyan);
  outline:  var(--Primary-Strong-Cyan);
  border: 0;
}

.Btn-tip:focus,
.Btn-tip:hover,
.Btn-reset:focus,
.Btn-reset:hover {
  background-color: var(--Hover-Cyan);
  color: var(--Neutral-Very-Dark-Cyan);
}


.Btn-tip:active,
.Input-custom:active,
.Input-user:active,
.Input-custom:active {
  transform: scale(.97);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.attribution {
  font-size: .6em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  body {
    font-size: 1.2em;
    height: 100vh;
    max-width: 700vmin;
  }

  .Container-calculator {
    border-radius: 30px;
    box-shadow: hsl(185, 35%, 74%) 0 40px 40px -7px, hsl(183, 33%, 78%) 0 10px 10px -5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  .Title {
    font-size: 1.3em;
  }

  .Section-form-user {
    display: flex;
    margin-right: 2rem ;
    width: 40%;
  }
  
  .Section-form-show {
    border-radius: 15px;
    margin: 0;
    width: 48%;
  }

  .Wrapper-tip {
    grid-template-columns: repeat( 3, 2fr);
    justify-items: stretch;
  } 

  .Btn-tip,
  .Input-custom {
    margin: .3rem;
    padding: .4rem;
    width: 110px;
  }

  .Grid-1,
  .Grid-4 {
    margin-left: 0;
  }

  .Grid-3,
  .Grid-6 {
    margin-right: 0;
  }

  .attribution {
    font-size: 1em;
  }
}
