@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --Primary-strong-cyan: hsl(172, 67%, 45%);
  --Neutral-Very-dark-cyan: hsl(183, 100%, 15%);
  --Neutral-Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Neutral-Dark-grayish-cyanS: hsl(184, 14%, 56%);
  --Neutral-Light-grayish-cyan: hsl(185, 41%, 84%);
  --Neutral-Light-grayish-cyanS: hsl(189, 41%, 97%);
  --Neutral-White: hsl(0, 0%, 100%);
}


* {
  box-sizing: border-box;
}

body {
  background-color: var(--Neutral-Light-grayish-cyan);
  display: flex;
  flex-direction: column;
  font-family:'Space Mono', monospace;
  font-size: 16px;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 390px;
}

.container-calculator {
  background-color: var(--Neutral-White);
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  margin: 0 auto;
}

.title {
  color: var(--Neutral-Very-dark-cyan);
  letter-spacing: 18px;
  text-transform: uppercase;
}

.subtitle,
.subtitle-tip {
  color: var(--Neutral-Dark-grayish-cyan);
  font-size: 16px;
}

.Input-user,
.Button-tip,
.Input-custom,
.Button-reset {
  font-size: 18px;
  font-family:'Space Mono', monospace;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: var(--Neutral-Dark-grayish-cyanS);
}

.dollarSign {
  position: relative;
}

.dollarSign::before {
  background: url("images/icon-dollar.svg") no-repeat;
  bottom: 0;
  content: "";
  left: 18px;
  position: absolute;
  top: 3px;
  width: 20px;
}

.Input-user {
  background-color: var(--Neutral-Light-grayish-cyanS);
  color: var(--Neutral-Very-dark-cyan);
  padding: .8rem;
  text-align: right;
  width: 100%;
}

.Wrapper-tip {
  display: grid;
  grid-template-columns: repeat( 2, 2fr);
  justify-items: end;
  width: 100%;
}

.Button-tip,
.Input-custom {
  padding: .8rem;
  margin: 0 1rem 1rem 0;
  width: 156px;
}

.Button-tip {
  background-color: var(--Neutral-Very-dark-cyan);
  color: var(--Neutral-White);
  font-family:'Space Mono', monospace;
}

.userIcon {
  position: relative;
}

.userIcon::before {
  background: url("images/icon-person.svg") no-repeat;
  bottom: 0;
  content: "";
  left: 18px;
  position: absolute;
  top: 3px;
  width: 20px;
}

.Input-custom {
  background-color: var(--Neutral-Light-grayish-cyanS);
  border: 0;
  color: var(--Neutral-Very-dark-cyan);
  text-align: right;
}

.Button-tip-ml {
  margin-right: 0;
}

.container-form-show {
  background-color: var(--Neutral-Very-dark-cyan);
  border-radius: 10px;
  padding: 1.5rem;
  margin-top: 2rem;
}

.container-row {
  display: flex ;
}

.Subtitle-total {
  color: var(--Neutral-White);
  letter-spacing: 1.5px;
  margin-bottom: 0;
}

.P-description {
  color: var(--Neutral-Dark-grayish-cyanS);
  margin-top: 0;
}




.Button-reset {
  background-color: var(--Primary-strong-cyan);
  border: 0;
  color: var(--Neutral-Very-dark-cyan);
  padding: .8rem;
  text-transform: uppercase;
  width: 282px;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media (min-width: 768px) {

    body {
      max-width: 950px;
    }

    .container-calculator {
      box-shadow: rgba(58, 10, 10, 0.2) 0 40px 40px -7px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
      border-radius: 30px;
    }

    .container {
      display: flex;
      flex-direction: row;
    }

    .subtitle,
    .subtitle-tip {
      color: var(--Neutral-Dark-grayish-cyan);
      font-size: 18px;
    }

    .Input-user,
    .Button-tip,
    .Input-custom,
    .Button-reset {
      font-size: 24px;
    }

    .Wrapper-tip {
      grid-template-columns: repeat( 3, 2fr);
      justify-items: stretch;
    }

    .Button-tip,
    .Input-custom {
      width: 118px;
    }
  }